body {
    margin: 0;
}

#main {
    margin-top: 10%;
}

h2 {
    color: #385682;
}

/* NavBar */


/* NavBar */


/* Background */

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
    margin: 0 auto;

}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    background-image: url("img/terre-surface.jpg");

    background-size: cover;
    background-repeat: no-repeat;

}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox pour les conteneurs*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Correction de l'écart */
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Réduire pour le mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

/* Background */

/* profil */

.container {
    height: 100vh;
    width: 100vw;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.border {
    height: 410px;
    width: 380px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

.border:hover {
    border: 1px solid #fff;
}

.Card {
    height: 420px;
    width: 390px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Card0 {
    background: url("img/moi.jpg") center center no-repeat;
    background-size: 500px;
}

.Card0:hover {
    background: url("img/moi.jpg") left center no-repeat;
    background-size: 600px;
}

.Card0:hover h6 {
    opacity: 1;
}

.Card0:hover .fa {
    opacity: 1;
}

.fa {
    opacity: 0;
    transition: opacity 1s;

}

.icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 200px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
}

h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    font-size: 30px;
}

/* profil */

/* animation lettre */



.letter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* formation/stage */

.wrapper .box {
    position: relative;
    width: 320px;
    height: 450px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
    transform: perspective(800px);
    background-color: rgba(99, 110, 114, 0.63);

}

#box1 {
    background-image: url("https://le-campus-numerique.fr/wp-content/uploads/2020/12/logo-campus-header.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#box2 {

    background-image: url('img/233969_382793.webp');
    background-size: 80%;
    background-repeat: no-repeat;

}

#box3 {
    background-image: url('img/233969_382793.webp');
    background-size: 80%;
    background-repeat: no-repeat;

}

h3 {
    color: #000;

}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: -39px 0;
    padding: 10px;

}

li {
    cursor: pointer;
    width: 30px;
    height: 30px;

}

a {
    text-decoration: none;
    color: #000;
}



i {
    color: #ccc;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

li:hover .fa-twitter {
    transform: translate3d(0, -10px, 20px);
    color: #00acee;
}

li:hover .fa-github {
    transform: translate3d(0, -10px, 20px);
    color: gray;
}

li:hover .fa-linkedin-in {
    transform: translate3d(0, -10px, 20px);
    color: #077099;
}

/* form */

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
}

form input,
form textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

form input:focus,
form textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
}

form #input-submit {
    color: white;
    background: #e74c3c;
    cursor: pointer;
}

form #input-submit:hover {
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
    height: 126px;
}

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}

@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/* laPromo */

.images-leaning {
    box-sizing: border-box;
    width: 100%;
    min-width: 800px;
    margin: 10em auto 0;
    min-height: 330px;
    position: relative;
    background-repeat: no-repeat;
    background-image: linear-gradient(352deg, transparent 45.2%, #bbb 45.5%, #bbb 45.6%, #ccc 45.8%, #eee 60%), linear-gradient(30deg, #ccc, #eee 90%);
    background-size: 100% 32.4em;
    background-position: 50% 100%;
}

.images-leaning>div {
    width: 250px;
    position: absolute;
    left: 50%;
    bottom: 7.8em;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
}

.images-leaning>div:before {
    content: '';
    width: 60%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 7%;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: linear-gradient(120deg, transparent 42%, rgba(0, 0, 0, 0.15) 45%, rgba(0, 0, 0, 0.35) 65%), linear-gradient(20deg, transparent 38%, rgba(0, 0, 0, 0.25) 45%, rgba(0, 0, 0, 0.23) 55%, rgba(0, 0, 0, 0.13) 75%), radial-gradient(ellipse at 50% 100%, rgba(0, 0, 0, 0.15) 3%, transparent 40%);
    transform: rotate(-8deg);
}

.images-leaning>div:after {
    content: '';
    width: 60%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3), transparent 70%), linear-gradient(45deg, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.3) 80%);
    transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}

.images-leaning>div>img {
    width: 60%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    border-left: 0.2em solid;
    -o-border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
    border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
    box-shadow: 0.1em 0.2em 0 -0.1em #666;
    filter: saturate(90%);
    transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}

.images-leaning>div:nth-of-type(4) {
    --resize: 0.99;
    margin-left: -40.4em;
}

.images-leaning>div:nth-of-type(4):before {
    background-size: 100% 85%, 100% 15%, 100% 10%;
    background-position: 0.1em 0, 0 100%, -3em 83%;
}

.images-leaning>div:nth-of-type(3) {
    --resize: 0.96;
    margin-left: -15.3em;
    transform: scaleY(0.98) translate(-8em, -2.1em);
}

.images-leaning>div:nth-of-type(3):before {
    background-size: 100% 84%, 100% 16%, 100% 10%;
    background-position: 0.4em 0, 0 100%, -3em 81%;
}

.images-leaning>div:nth-of-type(2) {
    --resize: 0.925;
    margin-left: 10em;
    transform: scaleY(0.965) translate(-17em, -4.2em);
}

.images-leaning>div:nth-of-type(2):before {
    background-size: 100% 83%, 100% 17%, 100% 10%;
    background-position: 0.6em 0, 0.1em 100%, -3em 81%;
}

.images-leaning>div:nth-of-type(1) {
    --resize: 0.895;
    margin-left: 35.2em;
    transform: scaleY(0.94) translate(-26.6em, -6.2em);
}

.images-leaning>div:nth-of-type(1):before {
    background-size: 100% 82%, 100% 18%, 100% 10%;
    background-position: 0.8em 0, 0.1em 100%, -3em 80%;
}